
<form method=post action="">
    {% extends "layouts/base.html" %}
    {% block content %}
        <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td></td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <br/><br/>
        <p><input type=submit value=Compute></form></p>
        <p>
            {% if result != None %}
                <img src="{{ result }}" class="img-fluid rounded" alt="Generic placeholder thumbnail" width="600" height="450"/>
                <p>
                    <a href="{{ url_for('.download_file2') }}">Download</a>
                    <a href="{{ result }}">Download2</a>
                </p>
            {% endif %}
        </p>
        <br/><br/>
    {% endblock %}
