{% extends "layouts/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row text-left">
        <h1>{{ title}}</h1>
        <p>
            An in-progress randomized data generator, for the loose purpose of producing statistically
            significant logistic regression test data. Much of the validation will be on the honor system.
        </p>
        <hr>
        <p> Input percentage of positive records and total count</p>
        <hr>
        <p>Positive Record values</p>
        <p>percentage for each age bracket and gender</p>
        <hr>
        <p>Positive Record values</p>
        <p>percentage for each age bracket and gender</p>

    </div>
    <br/><br/>
{% endblock %}