{% extends "layouts/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row text-left">
  <h1>{{ title}}</h1>
    <p>
        I am a data driven individual with experience and passion for data analytics.
        After double majoring in physics and math I went on to receive my Master's degree in Applied Mathematics.
        I completed my thesis on the topic that I was most interested in, Nonlinear Optimization techniques, specifically with regards to curve-fitting.
        I did not know this at the time, but this field is the basis for most of machine learning.
        Professionally I seek out projects and opportunities that involve such advanced analytic models.
    </p>
</div>
<br/><br/>


{% endblock %}
